<div class="form-group">
    <label for="number">Number:</label>
    <input type="text" id="number" [(ngModel)]="number" class="form-control">
</div>>

<div class="container">
    <p>Sem formatação:</p>
    <p>{{ number }}</p>

    <p>Com formatação:</p>
    <p>{{ number | number:'2.0-1' }}</p>

    <p>Moeda:</p>
    <p>{{ number | currency:'BRL' }}</p>

    <p>Data</p>
    <p>{{ date | date:'dd/MM/yyyy HH:mm:ss'}}</p>

    <p>Data ShortTime</p>
    <p>{{ date | date:'shortTime'}}</p>

    <p>Pipe Customizado</p>
    <p>{{ listWords | pipeList:"--" }}</p>

    <p>{{ text | uppercase }}</p>
</div>
